.home-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

/* Make sure ClickableItem has higher z-index */
.clickable-item {
    position: absolute;
    z-index: 2;
}
.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;   /* push behind all clickable items */
  pointer-events: none; /* prevents blocking clicks */
}
.home-container {
  position: relative; 
  width: 100%;
  height: 100%; /* stops it from intercepting mouse events */
}
