body {
  background: black;
  margin: 0;
  padding: 0;
}
.welcome-container {
  background: url('/src/assets/bg.png') center/cover no-repeat;
  height: 100vh;
  width: 100vw;
}
.loading-bar {
  width: 300px;
  height: 20px;
  border: 2px solid white;
  border-radius: 4px;
  padding: 2px;
  image-rendering: pixelated;
}

.progress-fill {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #66c2e4, #e5caa2);
  border-radius: 2px;
  position: relative;
  overflow: hidden;
}


.progress-fill::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255,255,255,0.4), transparent);
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% { left: -100%; }
  100% { left: 100%; }
}
.pixel-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.loading-text {
  font-family: 'Courier New', monospace;
  font-size: 20px;
  color: white;
  text-shadow: 0 0 5px white;
  image-rendering: pixelated;
}